body {
    font-family: Arial, sans-serif;
}

#map {
    height: 500px;
    width: 100%;
}

#loadingMessage {
    display: none; /* Initially hidden */
    text-align: center;
    font-weight: bold;
}


#loadingMessage {
    display: block; /* Display initially */
    text-align: center;
    font-weight: bold;
}
h1 {
    text-align: center; /* Centers the text inside the h1 element */
}